.form-section {
  display: block;
  background: $form-bg;
  margin-top: 2.5rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.6rem rgba(0, 0, 0, 0.2);
  width: 82vw;
  padding-bottom: 2.5rem;
}

/*DESKTOP*/
@media only screen and (min-width: $desktop-size) {
  .form-section {
    width: 40vw;
    padding-bottom: 3rem;
  }
}
