/*DESKTOP*/
@media only screen and (min-width: $desktop-size) {
  body {
    background-image: url("https://res.cloudinary.com/amosspark/image/upload/v1587428177/bg-intro-desktop_xhg5sp.png");
    background-size: contain;
  }
  .container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 13vh 0 8vh 0;
  }

  .header {
    margin-right: 5rem;
  }

  .header,
  .main {
    width: 40vw;
  }
}
