/*DESKTOP*/
@media only screen and (min-width: $desktop-size) {
  body {
    background-image: url("../../bg-intro-desktop.png");
    background-size: contain;
  }
  .container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // padding: 12rem 4rem 2rem 4rem;
  }

  .container {
    padding: 13vh 0 13vh 0;
    overflow: hidden;
  }

  .header {
    margin-right: 5rem;
  }

  .header,
  .main {
    width: 40vw;
  }
}
