.btn {
  background: $color-primary-green;
  padding: 2rem;
  width: 70vw;
  border: none;
  border-radius: 0.6rem;
  outline: none;
  box-shadow: 0 0.4rem rgba($color: #029751, $alpha: 0.8);
  cursor: pointer;

  &:hover,
  &:focus {
    background: rgba($color: $color-primary-green, $alpha: 0.7);
  }
}

@media only screen and (min-width: $desktop-size) {
  .btn {
    width: 35vw;
    padding: 1.5rem;
  }
}
