input {
  width: 70vw;
  height: 6vh;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  border-radius: 0.3rem;
  outline: none;
  border: 0.1rem solid lighten($color-neutral-grayish, 5%);

  &:nth-child(1) {
    margin-top: 3rem;
  }

  &::placeholder {
    color: $color-neutral-dark;
    font-weight: 700;
  }
}

@media only screen and (min-width: $desktop-size) {
  input {
    width: 35vw;
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    font-weight: 700;
  }
}
