$color-primary-red: hsl(0, 100%, 74%); // invalid, form-terms,bg
$color-primary-green: hsl(154, 59%, 51%); // claim-btn
$color-accent-blue: hsl(248, 32%, 49%); // try-it btn
$color-neutral-dark: hsl(249, 10%, 26%); // placeholder
$color-neutral-grayish: hsl(246, 25%, 77%); // form-para
$color-foot-link: hsl(228, 45%, 44%);
$form-bg: #fff;

$root-font: 62.5%;
$header-p-w: 100;
$color-font: #fff;
